<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>Archives</servlet-name>
    <servlet-class>Trial.Archives</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Archives</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Stats</servlet-name>
    <servlet-class>Trial.Stats</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stats</servlet-name>
    <url-pattern>/Stats</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MailTo</servlet-name>
    <servlet-class>Trial.MailTo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailTo</servlet-name>
    <url-pattern>/share</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Authenticate</servlet-name>
    <servlet-class>Trial.Authenticate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authenticate</servlet-name>
    <url-pattern>/Authenticate</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>Download</servlet-name>
    <servlet-class>Trial.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>FilePassword</servlet-name>
    <servlet-class>Trial.FilePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilePassword</servlet-name>
    <url-pattern>/FilePassword</url-pattern>
  </servlet-mapping>
</web-app>